.contact-flex-container {
    display: flex;
    flex-direction: row;
    height: 500px;
    text-align: center;
}

.contact-flex-container > div {
    width: 500px;
    margin: 10px;
    text-align: center;
}

.contact-flex-container-1-text {
    padding-top: 30px;
    line-height: 2.5;
}

.contact-flex-item-1 {
    background-image: url("https://images.pexels.com/photos/2471234/pexels-photo-2471234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=400&w=480");
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.contact-flex-item-2, .contact-flex-item-3 {
   margin-right: 30px;
   max-width: 400px;

}

.contact-flex-container-2 {
    display: flex;
    flex-direction: column;
}

.contact-flex-container-3 {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.contact-flex-container-4 {
    display: inline;
    flex-direction: column;
}

.contact-flex-container-4-text {
    font-size: 25px;
}

.contact-input {
    background: transparent;
    border-bottom: 2px solid grey;
}
