/* 
#header{
	text-align: center;
	padding-bottom: 60px;
}

li{
	list-style: none;
    display: inline;
padding-right: 15px;
text-align: center;
color: red;
}
p{
	color: #888785;
	font-family: DIN;
	font-size: 16px;
	padding-bottom: 30px;
}
h2{
	color: #a2cc01;
	font-family:MarzoW-Regular;
	font-size: 35px;
}
#main{
	position: absolute;
	left: 16.5em;
	top: 23px;
}
#main_name{
	text-decoration: none;
	padding-right:20px;
	color: #5f0038;
	font-family: peaches_and_creamregular;
	font-size: 64px;
}
#uma{
	text-decoration: none;
	padding-right: 30px;
	font-family: arial;
	color:grey;
    font-size: 16px;
    font-weight: 300;
}
#uma:hover{
	
}


section{
	overflow: hidden;
	height: 100px;
	}



nav{
	
			
			position: relative;
			left: 30.25em;
			top: 42px;
			
			
		
}
body{
	margin: 0px;
}
#nav_faq{
	text-decoration: none;
	padding-right: 30px;
	font-family: arial;
    font-size: 16px;
    font-weight: 300;
	color: #a2cc01;
}
#main_faq{
	width: 800px;
	height: 700px;
	position: absolute;
	left: 17em;
	top: 13em;
}
#question{
	font-family: DIN;
	font-size: 20px;
}
#faq{
	padding-bottom: 20px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    color: white;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
 */
