.footer{
    height: 20vh; 
    background-color:#fafafa;
    display: flex;
    justify-content: center;
    padding-top:20px;
    font-size : 15px;
}

#backtotop {
    font-size :20px;
}

#copyright-text{
    font-size :20px;
}

