ul.navbar-nav{
    display: flex;
    flex-direction: row;
    float: left;
    /* position:fixed; */

}
.navbar{
    display: flex;
    align-items: center;
}
.navbar-nav > ul {
    display: flex;
    flex-direction: row-reverse;                                                                
}

.navbar-nav > li {
    padding: 1rem;
    user-select:none;
}
.texxt {
    font-size:20px;
}
.navbar-nav > li > a {
    text-decoration: none;
    font-size:20px
}

#signup {
    border: 5px solid rgb(103, 103, 177);   
    padding: 5px 10px;  
    border-radius: 15%;
}

.img {
    width: 65rem;
    height: 42rem;
}

.flex-item-1 {
    display : flex;
    justify-content: center;
    align-items: center;
}

 .carouselContainer {
    padding: 5px;        
}

.containerZ{
    display:flex;
    align-items: center;
    flex-direction:row;
    padding-bottom: 50px;
}


.deliveryImg {
    width: 1000px;
}

.flex-item-2 {
    color: black;
}

.flex-item-2 h1 {
    font-size: 50px;
    color: #2196F3;
}

.buttonPriceEstimation {
    width: 300px;
    height: 50px;  
    padding: 10px;
    background-color: #2196F3;
    font-size: 23px;
    border-radius: 20%;
    justify-content: center;
    float: center;
}

.logo{
    font-size:80px;
    user-select:text;
    font-family:fantasy;
    color:rgb(31, 12, 100);
}

#login {
    border: 5px solid rgb(103, 103, 177);   
    padding: 5px 10px;  
    border-radius: 15%;
    color:white;
    background-color: rgb(103,103,177);
}