 
.h2{
    color:white;
}
.header{
    padding: 1rem;
    background-color: #fff;
}
.button {   
        
        width: 100%;  
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   
 .form {   
        border: 3px solid #f1f1f1;   
        min-height: 60vh;

    }   
 .input[type=text], input[type=password] {   
        width:100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        
        box-sizing: border-box;   
    }  
 .button:hover {   
        opacity: 0.7;   
    }   
  .cancelbtn {   
        width: 100%;   
        padding: 12px 20px;  
        margin: 8px 0;  
    }   
        
     
 .container {   
        padding:25px;   
        background-color: whites;  
    }  

  
