
.dimension {
    max-width: 120px;
    max-height: 30px;  
}

.price-flex-container-1 > div, .price-flex-container-3 > div, .price-flex-container-4 > div, .price-flex-container-5 > div {
    padding-right: 20px;
    padding-left: 30px;
}

.price-flex-container-1,  .price-flex-container-3, .price-flex-container-4 {
    display: flex;
    flex-direction: row;
}

.price-flex-container-2 {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.driverPic {
    max-width: 550px;
    max-height: 700px;
}

.price-flex-container-3, .price-flex-container-4 {
    padding-right: 50px;
    padding-left: 50px;
}

.total-price {
    width: 20%;
}

.distanceCSS {
    margin-left: 200px;
}

.dimensionCSS {
    width: 200px;
    margin-left: 200px;
    background-color: red           ;
}

.submitButton {
    max-width: 250px;
    margin-left: 185px;
}

.form-label-distance {
    width: 200px;
    margin-left: 200px;
}

.priceCSS {
    margin: 10px;
}

.img-container {
    position: relative;
}

.driverPicture {
    max-width: 500px;
    max-height: 600px;
}

.text-block {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: orange;
}

#payment {
    border: 5px solid rgb(34, 34, 170);   
    padding: 5px 10px;  
    border-radius: 15%;
    color:white;
    background-color: rgb(34, 34, 170);
    align-items: center;
    text-align: center;
}
@media screen and (max-width: 300px) {
    .cancelbtn, .summit {
       width: 100%;
    }
  }