body .h1 .h3{font-family: Arial, Helvetica, sans-serif;}
/* * {
    box-sizing: border-box; 
  background: linear-gradient(45deg, #49D49D 40%, #A2C7E5 90%);
    } */


.header{ color:white;}


button {
  background: rgb(4, 35, 78);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}




@media screen and (max-width: 300px) {
  .cancelbtn, .summit {
     width: 100%;
  }
}