.third-banner{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: space-evenly; 
    height: 20vh;
    margin: 5% 5%;
}

h2{
    text-align: center;
    margin: 5rem 0 7rem 0;
    position: relative; 
    font-weight: bold;
}

h2::before{
    position: absolute; 
    content: "";
    width:7%;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    background-color: black;
}

.feature-container{
    display: flex;
    justify-content: space-evenly;

}
.feature{
    display: flex;
    
}

.feature-detail {
    line-height: 1.6;
    margin-left: 0.5rem;
}

